<!DOCTYPE html>
<html>
  <head>
    <title>BenchBnBApp</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDSc3gMwUO-U-0cipG2IAZhbyPILBcIQLE" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script type="text/javascript">
        window.currentUser = {id: <%= current_user.id %>, username: "<%= current_user.username %>"}
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
